@import "../../modules/color";


.menu {
  box-sizing: border-box;
  display: block;

  margin-bottom: 1.25rem;


  .item {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 0.125rem 1.5rem 0.125rem 1.5rem;


    .header {
      display: block;
      padding: 0 0 0 0;
    }
  }
}
