@import "../../modules/color";


.input {
  box-sizing: border-box;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border: 1px solid $color--grey700;


  input {
    box-sizing: border-box;
    display: inline-block;
    flex: 1 1 auto;
    padding: 0.75rem 1rem;

    background-color: transparent;
    border: none;
    color: inherit;


    & + label {
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      border: 1px solid transparent;
      color: transparent;
      transition: border-color 75ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0ms;
    }


    &:focus {
      outline: none;


      & + label {
        border-color: $color--text;
      }
    }
  }


  svg {
    display: inline-block;
    flex: 1 1 auto;
    margin-left: 0.75rem;
  }


  &.stretched, &.stretched input {
    width: 100%;
  }
}
