@import "../../modules/color";
@import "../../modules/typography";


pre {
  opacity: 1 !important;
  word-wrap: break-word;
  padding: 1rem 3rem;
  color: #ccc;
  background: $color--navy300;

  .keyword {
    font-weight: 600;
    color: #E6725C;
  }

  .function {
    color: #ffb387;
  }

  .comment {
    font-style: italic;
    color: $color--grey500;
  }

  .string, .constant.language {
    color: $color--primary;
  }
}
