@import "../../modules/color";
@import "../../modules/media";


.fab {
  position: fixed;
  bottom: 0.25rem;
  right: 0.25rem;
  z-index: 500;

  color: $color--black;
  opacity: 0;
  transform: scale(0);


  @media only screen and (min-width: $media--tablet) {
    display: none;
  }


  & button {
    display: none;
  }
}
