@import "../../modules/color";
@import "../../modules/typography";



.devconsole {
  @include typography($font-family--code, $font-size--x-small);

  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.125rem 0.5rem;
  z-index: 900;

  color: $color--background;
  background-color: $color--navy300;
  opacity: 0.75;
}
