@import "modules/color";
@import "modules/typography";
@import "modules/media";


html {
  font-size: 90%;
  scroll-behavior: smooth !important;

  @media only screen and (max-width: $media--desktop) {
    font-size: 75%;
  }

  @media only screen and (max-width: $media--tablet) {
    font-size: 62.5%;
  }
}


body {
  @include typography($font-family--text, $font-size--regular);

  overflow-y: scroll;

  color: $color--text;
  background-color: $color--background;
}


strong {
  font-weight: bold;
}


small {
  @include typography($font-family--text, $font-size--small)
}


h1:not([class]) {
  @include typography($font-family--heading, $font-size--xx-large);
  padding-top: leading($font-size--x-large);
  padding-bottom: 1rem;
  margin-left: -$font-size--xx-large * 0.25;
  color: darken($color--primary, pow($typography--ratio, 1) * 1%);
}


h2:not([class]) {
  @include typography($font-family--heading, $font-size--x-large);
  padding-top: leading($font-size--large);
  padding-bottom: 1rem;
  margin-left: -$font-size--x-large * 0.25;
  color: darken($color--primary, pow($typography--ratio, 2) * 2%);
}


h3:not([class]) {
  @include typography($font-family--heading, $font-size--large);
  padding-top: leading($font-size--regular);
  padding-bottom: 1rem;
  margin-left: -$font-size--large * 0.25;
  color: darken($color--primary, pow($typography--ratio, 3) * 3%);
}


h4:not([class]) {
  @include typography($font-family--heading, $font-size--regular);
  padding-top: leading($font-size--small);
  padding-bottom: 1rem;
  margin-left: -$font-size--large * 0.25;
  color: $color--text;
}


h5:not([class]) {
  @include typography($font-family--heading, $font-size--regular);
  padding-top: leading($font-size--x-small);
  margin-left: -$font-size--large * 0.25;
  color: $color--text;
}


td:first-child {
  padding: 0.125rem 1rem;
}


td {
  padding: 0.125rem 0.25rem;

  @media only screen and (max-width: $media--desktop) {
    display: block;
    padding-left: 2rem;
  }
}


a {
  color: $color--black;
  text-decoration: inherit;


  &:hover {
    color: $color--primary;
    text-decoration: inherit;
    cursor: pointer;
  }
}


code {
  @include typography($font-family--code, $font-size--small);
  line-height: 0;
}


p:not(:last-child) {
  margin-bottom: leading($font-size--regular);
}


.weak-device {
  //background-color: red !important;
}
