// Named colors
$color--white: white;
$color--black: black;

$color--grey500: rgb(125, 125, 125);
$color--grey700: rgb(235, 235, 235);

$color--teal500: rgb(0, 209, 178);

$color--navy300: rgb(34,53,63);


// Derived colors
$color--primary: $color--teal500;

$color--background: rgb(253, 253, 253);
$color--background-alternative: white;

$color--text: $color--grey500;
