@import "../../modules/media";
@import "../../modules/color";


.layout {
  flex: 1 1 auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  $segment: 8.33333333%;

  box-sizing: border-box;
  flex: 1 0 auto;
  width: min-content;


  &.static {
    flex-grow: 0;
  }


  &.mobile-hidden {
    @media only screen and (max-width: $media--tablet) {
      display: none;
    }
  }


  @for $i from 1 to 13 {
    $width: $segment * $i;
    &.mobile-#{$i} {
      flex-basis: $width;
      max-width: $width;
    }
  }


  @for $i from 1 to 13 {
    $width: $segment * $i;
    &.tablet-#{$i} {
      @media only screen and (min-width: $media--tablet) {
        flex-basis: $width;
        max-width: $width;
      }
    }
  }


  @for $i from 1 to 13 {
    $width: $segment * $i;
    &.desktop-#{$i} {
      @media only screen and (min-width: $media--desktop) {
        flex-basis: $width;
        max-width: $width;
      }
    }
  }


  @for $i from 1 to 13 {
    $width: $segment * $i;
    &.widescreen-#{$i} {
      @media only screen and (min-width: $media--widescreen) {
        flex-basis: $width;
        max-width: $width;
      }
    }
  }
}
